*{
    margin: 0;
    padding: 0;
}



body{

    --main-bg-color : #E32020;
    --main-button-color : azure;
    --alt-button-color  : darkslategrey;
    --alt-hover-color   : rgb(30, 44, 44);

    height: 1000px;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto; 
    
}

header{
    background-color: var(--main-bg-color);
    height: 160px;
}

nav{
    height: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;


}


.logo.logo_but{
    float: right;
}
 
.logo{
    display: inline-block;
    height: 80px;
    margin: 40px;
}

.nav-botton>a , .nav-botton{
    margin: 10px 10px;
    margin-bottom: 0px;
    width: 200px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 16px;
    background-color: var(--alt-button-color);
    color: var(--main-button-color);
    cursor: pointer;
}

.navbar {
    display: flex;
}

.navbar li{
    text-align: center;
    padding-top: 15px;
    
    
}

/* Menu dropdown competences*/
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown>li{
    padding-bottom: 25px;
}
.drp-content{
    display: none;
    position: absolute;
    background-color: var(--alt-button-color);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
    left: 10px;
}

.drp-content a{
    color: var(--main-button-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .drp-content{
    display: block;
}








            /*Page présention du BUT*/


/*tableau et explication passage*/

main {
    margin-top : 90px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sec-tabcoeff {
    display: flex;
}

h1 {
    text-align: center;
    padding: 12px;
    margin-top: 20px;
    margin-bottom: 60px;
    border: 1px solid gray;
}




.titre-tab-coeff {
    font-weight: bold; 
    font-size: 16px;
    margin-bottom: 30px;
}

.texte-validation {
  
    margin-top: 20px;
    
}

.texte-validation p {
    padding: 3px;
    padding-left: 20px;
    padding-right: 15px;
}



.tab-coeff {
    margin-top: -10px;
    max-width: 60%;
   
}
  


table {
    border-collapse: collapse;
    border: 2px solid rgb(107,101,101);
    letter-spacing: 1px;
    font-size: 0.8rem;
    table-layout: fixed;
    width: 100%;
    
  
}
  
td, th {
    border: 1px solid rgb(107, 101, 101);
    padding: 5px 13px;

}
  
th {
    background-color:;
}

td, th {
    hyphens: auto;
    word-wrap: break-word;
}

td {
    text-align: center;
}


tr:nth-child(even) td {
    background-color:; 
}
  
tr:nth-child(odd) td {
    background-color:;
}



/* blocs compétences*/

.blocs-competences {
    margin-top: 3%; 
}


.titre-competences-page-presentation {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 1.3rem;
    font-weight: lighter;
    text-align: center;
    border: 1px solid grey;
    padding: 10px;
    

}

.competence-1 {
    display: flex;
}

.img-gauche {
    height: 250px;
    margin-left: 5%;
    

}


 








/*footer*/

footer { 
    margin-top: 80px;
    background-color: #D8D8D8;
    flex-shrink: 0;
}

.contenu {
    margin: 0 auto; 
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: 17px;
    padding:  40px 20px ;
    padding-left: 120px;
    

}

.block {
    width: 30%;
    margin: 0 100px;   
}

.footer-Plan h3, 
.footer-RGPD h3,
.footer-Entreprise h3 {
    font-size: 25px;
    padding-bottom: 20px;
    
}

.liste-plan, 
.liste-noms{
    list-style-type: none;
}

.liste-plan li{
    padding: 3px 0; 
}

.liste-noms li{
    padding: 3px 0; 
}

.liste-plan a {
    text-decoration: none;
    color: #474747; 
}

.liste-plan a:hover {
    color: black; 
}

.footer-RGPD a {
    color: #474747;   
}

.footer-RGPD a:hover {
    color: black;   
}


.liste-noms li {
    color: #474747; 
}

@media screen and (max-width: 1000px) {
    .contenu {
        max-width: 100%;
        flex-wrap: wrap;
        margin-left: 10%;
    }
    
    .block {
        width: 50%;
        margin: 20px 20px; 
    }

}







