*{
    margin: 0;
    padding: 0;
}

main{
   width: 1200px;
  margin : auto; 
  margin-top : 75px; 
}
body{
    --main-bg-color : rgb(255,58,57);
    --main-button-color : azure;
    --alt-button-color  : darkslategrey;
    --alt-hover-color   : rgb(30, 44, 44);

    height: 1200px;
    
}

header{
    background-color: var(--main-bg-color);
    height: 160px;
}

nav{
    height: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;


}


.logo.logo_but{
    float: right;
}
 
.logo{
    display: inline-block;
    height: 80px;
    margin: 40px;
}

.nav-botton{
    margin: 10px 10px;
    margin-bottom: 0px;
    list-style: none;
    background-color: var(--alt-button-color);
    
}

.nav-botton>a{
    padding: 15px 40px;
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 16px;
    color: var(--main-button-color);
    cursor: pointer;
    transition:  0.4s;
    border-bottom: 8px solid ;
}

.nav-botton>a:hover,
.dropdown:focus .nav-botton>a,
.dropdown:focus-within .nav-botton>a,
.dropdown:hover .nav-botton>a {
  border-bottom: 8px solid var(--main-bg-color);
}
.navbar {
    display: flex;
}

.navbar li{
    text-align: center;
    padding-top: 15px;
    
    
}

/* Menu dropdown competences*/
.dropdown{
    position: relative;
    display: inline-block;
    padding: 0px;
}
.dropdown>li{
    padding-bottom: 25px;
}
.drp-content{
    background-color: var(--alt-button-color);
    min-width: 160px;

    visibility: hidden; /* hides sub-menu */
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    transform: translateY(-2em);
    z-index: -1;
    transition: all 0.4s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.001s;
}

.dropdown:focus .drp-content,
.dropdown:focus-within .drp-content,
.dropdown:hover .drp-content {
  visibility: visible; /* shows sub-menu */
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s; /* this removes the transition delay so the menu will be visible while the other styles transition */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.411);
  border: 2px solid var(--main-bg-color);

}


.drp-content a{
    color: var(--main-button-color);
    padding: 12px 16px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    display: block;
    border-top: 0px;


}

.drp-content a:hover{
  transition: 0.5s;
  background-color: var(--alt-hover-color);
}
.drp-content:nth-child(1){
  border-top: 3px solid black ;
}


/*Page Acceuil*/
  


/*Page présention du BUT*/
  
  /*tableau et explication passage*/
  
  main {
    margin-top: 90px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .sec-tabcoeff {
    display: flex;
  }
  
  .tite-page-presentation {
    text-align: center;
    padding: 12px;
    margin-top: 20px;
    margin-bottom: 60px;
    border: 1px solid gray;
  }
  
  .titre-tab-coeff {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 30px;
  }
  
  .texte-validation {
    margin-top: 20px;
  }
  
  .texte-validation p {
    padding: 3px;
    padding-left: 20px;
    padding-right: 15px;
  }
  
  .tab-coeff {
    margin-top: -10px;
    max-width: 60%;
  }
  
  table {
    border-collapse: collapse;
    border: 2px solid rgb(107, 101, 101);
    letter-spacing: 1px;
    font-size: 0.8rem;
    table-layout: fixed;
    width: 100%;
  }
  
  td,
  th {
    border: 1px solid rgb(107, 101, 101);
    padding: 5px 13px;
  }
  
  td,
  th {
    hyphens: auto;
    word-wrap: break-word;
  }
  
  td {
    text-align: center;
  }
  
 /* blocs compétences*/
  
  .blocs-competences {
    margin-top: 3%;
  }

.competence {
  display: flex;
  margin-top: 5%; 
}
  
  .titre-competences-page-presentation {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 1.3rem;
    font-weight: lighter;
    text-align: center;
    border: 1px solid grey;
    padding: 10px;
  }
  
  .ul-ressource-presentation-droite{
    list-style-type : none; 
    text-align : center;  
    margin : auto;
    margin-top : 10px; 
    font-size: 20px; 
  }
  
  .titre-ressource-presentation {
    font-size: 22px; 
    padding : 10px; 
  }
  
  .liste-ressource {
    padding : 5px; 
  }
  

  .img-competence-gauche {
    height: 250px;
    width: 525px;
    margin: 7px auto;
    
  }

  .img-competence-droite {
    height: 250px;
    width: 525px;
    margin-right: auto ;
    margin-left: 4%;
    
  }
  
  .ul-ressource-presentation-gauche { 
    list-style-type : none; 
    text-align : center;  
    margin-left: -2%; 
    margin-top : 10px; 
    font-size: 20px;  
  }
  
  
  
  
  
  /*footer*/
  
  footer {
    margin-top: 80px;
    background-color: #d8d8d8;
    flex-shrink: 0;
  }
  
  .contenu {
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: 17px;
    padding: 40px 20px;
    padding-left: 120px;
  }
  
  .block {
    width: 30%;
    margin: 0 100px;
  }
  
  .footer-Plan h3,
  .footer-RGPD h3,
  .footer-Entreprise h3 {
    font-size: 25px;
    padding-bottom: 20px;
  }
  
  .liste-plan,
  .liste-noms {
    list-style-type: none;
  }
  
  .liste-plan li {
    padding: 3px 0;
  }
  
  .liste-noms li {
    padding: 3px 0;
  }
  
  .liste-plan a {
    text-decoration: none;
    color: #474747;
  }
  
  .liste-plan a:hover {
    color: black;
  }
  
  .footer-RGPD a {
    color: #474747;
  }
  
  .footer-RGPD a:hover {
    color: black;
  }
  
  .liste-noms li {
    color: #474747;
  }
  
  @media screen and (max-width: 1000px) {
    .contenu {
      max-width: 100%;
      flex-wrap: wrap;
      margin-left: 10%;
    }
  
    .block {
      width: 50%;
      margin: 20px 20px;
    }
}


/*page contact*/ 

.titre-formulaire {
    font-size: 1.3rem;
    font-weight: lighter;
    text-decoration: underline;
}

.form 
{
	display: block;
	width: 150px;
	float: left;
  padding : 1px; 
}

.formulaire-contact {
  display : flex; 
  padding : 50px; 
}

.champ-message { 
  justify-content: center; 
  width : 50%;
  margin-top : -2.5%; 
}

.info-button {
  float : right; 
  width : 50%; 
  margin-top : 2%; 
}

#ameliorer {
  margin-left: 8%; 
  margin-top : 10px; 
}

.envoyer {
  padding-top : 8px;
  padding-bottom : 8px; 
  padding-left:13px;
  padding-right:13px;
  margin-top: 20px; 
  margin-left: 25%; 
  
}




/* page acceuil*/

.Historique_BUT{
  width: 1200px;
	margin: auto;
  margin-top: 100px;
  margin-bottom: 20px;
	background-color: rgb(255, 255, 255);
  border: solid;
  border-width: 3px;
  border-radius: 15px;
  border-color: rgb(255, 58, 57);
}

.lienBUT{
    display:inline-block;
    height: 150px;
    margin-top: 10px;
    margin-left: 10px; 
}

.Historique{
  width: 1000px;
  margin-left: 200px;
	background-color: rgb(255, 255, 255);
	text-decoration: none;
}

.TLS{
  width: 1200px;
	margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
	background-color: rgb(255, 255, 255);
  border: solid;
  border-width: 3px;
  border-radius: 15px;
  border-color: rgb(255, 58, 57);
}


.IUT_Info{
  width: 1000px;
  margin-left: 200px;
  margin-bottom: 20px;
	background-color: #ffffff;
	text-decoration: none;
}

.listeC{
  width: 1000px;
  margin-left: 200px;
	background-color: #ffffff;
	text-decoration: none;
  list-style: none;
}

.Rangueil{
  height: 150px;
  margin: auto;
  margin-top: 10px;
  margin-left: 10px;
  transition: transform .5s;
}  

.Rangueil:hover{
-ms-transform: scale(1.5); 
-webkit-transform: scale(1.5);
transform: scale(1.5);
}

.PoleSport{
  height: 150px;
  margin: auto;
  margin-top: 10px;
  float: right;
  transition: transform .5s;
}  

.Compétence{
width: 1200px;
	margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
	background-color: rgb(255, 255, 255);
  border: solid;
  border-width: 3px;
  border-radius: 15px;
  border-color: rgb(255, 58, 57);
}

  .listePA{
  list-style: none;
}

.imgC{
  height: 50px;
  float: right;
}

.CompétenceG
  width: 600px;
	margin: auto;
  float: left;
}
.CompétenceD{
  width: 600px;
	margin: auto;
  float: right;
}


/* page competence*/

.borderColorC1{
  border: solid 3px #ff3300;
}
.backgroundC1{
  background-color: #ff3300;
}


  
.borderColorC2{
  border: solid 3px #f79152;
}
.backgroundC2{
  background-color: #f79152;
}




.borderColorC3{
  border: solid 3px #ffc000;
}
.backgroundC3{
  background-color: #ffc000;
}
 


.borderColorC4{
  border: solid 3px #92d050;
}
.backgroundC4{
  background-color: #92d050;
}




.borderColorC5{
  border: solid 3px #002060;
}
.backgroundC5{
  background-color: #002060;
}

.borderColorC6{
  border: solid 3px #1e1c11;
}
.backgroundC6{
  background-color: #1e1c11;
}




.competence1{
  text-align: center;
  padding: 10px 8px;
}

.containerCmpt{
  margin: 40px;
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  box-shadow: 10px 5px 5px rgba(47, 79, 79, 0.445);
}
.containerCmpt>ul{
  margin:20px;
}
.containerCmpt>ul>li{
  padding: 10px;
}
.titre{
  font-size: 35px;
  font-weight: bolder;
  margin-bottom: 20px;
}



.logoRess{
  margin: 10px;
  padding:15px;
  border-radius: 15px;
  height: 25px;
  width: 70px;
  color: white;
  font-size: 22px;
}

.niv1>img{
  margin-top: 40px;
  margin-left: 20px;
  height: 225px;
  border-radius: 10px;
}

.niv1>ul{
  margin: 30px;
  font-size: 20px;

}
.niv1>ul>li{
padding: 10px;
}
.niv1>ul>li:nth-child(1){
  font-weight: bolder;
  border: 1px solid black;
  list-style: none;

}

.eval>ul{
  list-style: none;
}
.eval>ul>li:nth-child(1){
  margin-bottom: 20px;
}

.tabCompt  {
  border-collapse:collapse;
  border-spacing:0;
  width: 98%;
  margin:10px;

}
.tabCompt td, .tabCompt th{
  border: 1px solid black;
  font-size:14px;
  overflow:hidden;
  padding:8px 3px;
  word-break:normal;
  text-align: center;

}

.tabCompt tr>td:nth-child(even),.tabCompt tr>th:nth-child(even){
  background-color:#c0c0c0;
}
.tabCompt tr>td:nth-child(1),.tabCompt tr>th:nth-child(1){
font-size: 18px;
font-weight: bolder;
}




.sae>ul{
  list-style: none;
  font-size: 18px;
  padding: 10px;

}


.titreSAE{
  font-size: 25px;
  border-bottom: 2px solid black;
}
.ress{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.ressource{
  width: 1050px;
  margin-top:25px;
  margin: 15px 30px;
}

.logoRess{
  margin: 10px;
  padding:15px;
  border-radius: 15px;
  height: 25px;
  width: 70px;
  color: white;
  font-size: 22px;
}

.ressource>ul{
  list-style: none;
  margin: 20px;
}
.ressource>ul>li{
  margin-left: 35px;

}

.titreRess{
  font-size : 35px;
  font-weight: bold;
}

.titreRubrique{
  font-size : 28px;
  font-weight: bold;
}
.titreCompetence{
  font-size : 18px;
}
.ressource>ul>li>p{
  padding-top: 15px;
  margin-left:20px;
}

.lstCompetences{
  list-style:none;
  margin-left: 15px;
  margin-right: 15px;
  border-bottom: 2px dotted black;
}

.lstCompetences>li{
  margin-top: 5px;
}

.lstCompetences:last-child{
  padding-bottom: 15px;
}

.descDetaille{
  margin-top: 50px;
}
.descDetaille>p{
  margin-left: -10px;
}

.lstDesc{
  margin-left: 40px;
  list-style:disc;
}
